<include file="App/Admin/View/Public/left.html"/>
<style>
    .glyphicon-minus:before {
        content: "\2212";
    }
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }
</style>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">
        </i><a href="{:U('Index/index')}">首页</a>
            <span class="crumb-step">&gt;</span><span class="crumb-name">师资管理</span></div>
    </div>
    <div class="result-wrap">
        <form action="{:U('Train/teacher_add')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{$info.id}">
            <div class="config-items">
                <div class="config-title">
                    <h1><i class="icon-font">&#xe00a;</i>师资添加</h1>
                </div>
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>姓名：</th>
                            <td><input id="name" name="name" value="{$info.name}" type="text"  class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>头像：</th>
                            <td><input id="img" name="img" value="{$info.img}" type="file"  class="common-text">
                                <img src="{$info.img}" style="width: 100px;height: 100px" alt="">
                            </td>
                            <input type="hidden" name="img1" value="{$info.img}">
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>职位：</th>
                            <td><input id="position" name="position" value="{$info.position}" type="text"  class="common-text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>介绍：</th>
                            <td>
                                <textarea name="introduce" style=" height: initial;" id="introduce" class="common-text btn50" cols="30" rows="3">{$info.introduce}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red"></i>状态：</th>
                            <td>
                                <select name="status" id="status"  class="common-text">
                                    <option value="1" <if condition="$info['status'] eq '1'">selected</if> >开启</option>
                                    <option value="0" <if condition="$info['status'] eq '0'">selected</if>>关闭</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input type="button" onclick="subform()" value="提交" class="btn btn-primary btn6 mr10">
                                <a href="{:U('Train/teacher')}"><input type="button" value="返回"  class="btn btn6"></a>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function subform(){
        $('#myform').submit();
    }
</script>
</div>
</body>
</html>
